@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}

body{
    margin: 0;
    overflow-x: hidden;
}

header{
    background: #FAFAFA;
}

.bi-list{
    position: absolute;
    scale: 2;
    top: 30px;
    left: 30px;
    display: none;
    border: 0.3px solid black;
    border-radius: 3px;
}

.activee{
    color: rgb(0, 0, 0);
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: rgba(32, 72, 79, 1);
}

nav h4{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    padding: 21px 40px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Plus Jakarta Sans';
}

nav h4 a{
    text-decoration: none;
    color: white;
}
nav h4 a:hover{
    text-decoration: none;
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    padding: 24px 11px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

nav ul li a{
    text-decoration: none;
    color: rgb(226, 225, 225);
    padding: 5px;
}
nav ul li a:hover{
    text-decoration: none;
    padding: 5px;
    color: rgb(204, 202, 202);
}

nav div{
   display: flex; 
   padding: 17px;
}

nav button{
    width: 82px;
    height: 41px;
    background: #B8E4DA;
    border-radius: 8px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: none;
}
nav button:hover{
    width: 82px;
    height: 41px;
    background: #96d1c3;
    border-radius: 8px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: none;
}

.zed{
    background-color: inherit;
    color: white;
    margin-left: 10px;
}
.zed:hover{
    background-color: inherit;
    color: rgb(223, 219, 219);
    margin-left: 10px;
}

.divider{
    background-image: url('https://s3-alpha-sig.figma.com/img/865a/2673/9bca2747544aee1db24a5bbdacee75c8?Expires=1678665600&Signature=lCtXZ8NBoAKp1U8B0bpEEZGJ8La7X4n9bJInHn3sSPmwvE~~5jHaUHjyhI4SDxcaZmA5EcadJp8oLhESzjEswC3~ERTVWj9dmqscvsTZqRsgcs7tUGHsQ-JeI7o92--g5hlOt9xEutED~qu5QQqpPj6otijqpFunCa1-aUNoNdx3W~dI~duhLGjGZzEZH5S2Cu3roiYPtjSW4SorSYAEwyFBspMhWYSexEj4n~SH04SrEObLkpEESDaZ-hP2DBPfK6RsMaumVdCX8oRCPZ~GGmWWrfyfedCoPbIqB7wCbIfAAFCAjajT5~wSxrolG34yvEX8uTAohmgpt1~LgKJcNw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    background-position: bottom;
    background-color: #FAFAFA;;
    width: 100%;
    height: 107px;
    border: none;
}

.collor{
    background: #FAFAFA;
    width: 100%;
    position: relative;
    z-index: 2;
}

.rand{
    text-align: center;
}

.rand h6{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #20484F;
    margin: 106px 0 12px 0;
}

.rand h1{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #072125;
    margin-bottom: 55px;
}

.box{
    display: flex;
    flex-wrap: wrap;
    padding: 90px 0;
}

.coll{
    width: 50%;
}

.read{
    position: relative;
}

.read h3{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #072125;
}

.read p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-top: 12px;
}

.no{
    display: flex;
    margin-top: 44px;
}

.no svg{
    margin-right: 24px;
}

.noo{
    margin-top: 28px !important;
}

.ui{
    position: absolute;
    top: -31px;
    right: 93px;
}

.ui1{
    position: absolute;
    bottom: 20px;
    left: -102px;
}

.rot{
    transform: rotate(180deg);
}

.text{
    width: 100%;
    margin-top: 88px;
    display: flex;
    border-bottom: 2px solid rgba(32, 72, 79, 0.1);
    padding-bottom: 48px;
}

.text h2{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.text p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.text button{
    background: #20484F;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 16px 36px 15px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;    
    margin-left: auto;
    width: 190px;
    height: 58px;
}

.box1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
}

.coll1{
    width: 30%;
}

.colll1{
    width: 70%;
}

.butt{
    padding: 28px 0px 12px 36px;
    background-color: white;
    border: 1px solid rgba(32, 72, 79, 0.1);
    border-radius: 12px;
    margin-bottom: 12px;
    
}

.active{
    background-color: #20484F !important;
    color: #FFFFFF !important;
    border: none !important;
}

.readd1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.cont-cont{
    position: absolute;
    visibility: hidden;
}

.current{
    visibility: visible;
    position: relative;
}

.oio p{
    font-family: 'Shadows Into Light';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    top: -15px;
    right: -20px;
}

.oio svg{
    position: absolute;
    top: 0;
    right: 115px;
}

.oi{
    position: absolute;
}

.oi p{
    font-family: 'Shadows Into Light';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    left: 75px;
    bottom: -35px;
    width: 135px;
}

.oi svg{
    position: absolute;
    left: 100px;
    bottom: 25px;
}

.oii p{
    font-family: 'Shadows Into Light';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    right: 150px;
    bottom: -20px;
}

.oii svg{
    position: absolute;
    right: 210px;
    bottom: 30px;
}

.box3{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 125px;
}

img{
    max-width: 100%;
}

.box3 h3{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 12px;
    margin-top: 77px;
}

.box3 p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.coll3{
    width: 25%;
    padding: 0 20px;
}

.read3 h5{
    margin: 33px 0 12px 0;
}

.rant{
    width: 100%;
    margin-bottom: 76px;
}

.red{
    padding-left: 0 !important;
}

.divre{
    transform: rotate(180deg);
}

.finalbox{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../svgs/imgimg.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 45%;
}

.finalcoll{
    width: 50%;
}

.finalread{
    margin: 80px 0;
}

.finalread h2{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.finalread p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 23px;
    margin-bottom: 159px;
}

.finalread button{
    background: #B8E4DA;
    padding: 16px 36px 15px;
    border: none;
    border-radius: 8px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

footer{
    background-color: #072125;
}

.box-foot{
    display: flex;
    flex-wrap: wrap;
}

.col-foot{
    width: 50%;
    margin-top: 69px;
}

.read-foot h3{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: white;
    margin-bottom: 39px;
}

.read-foot p{
    margin-bottom: 25px;
}

.read-foot a{
    text-decoration: none;
    color: rgba(220, 242, 237, 1);
}

.read-foot1{
    display: flex;
}

.read-foot1 ul {
    padding-left: 0;
    margin-right: 80px;
}

.read-foot1 ul a{
    text-decoration: none;
}

.read-foot1 ul h5{
    color: white;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 24px;
}

.read-foot1 ul li{
    color: rgba(220, 242, 237, 1) ;
    margin-bottom: 20px;
    list-style: none;
}

.last{
    height: 53px;
    text-align: center;
    border-top: 1px solid #B8E4DA;
    margin-top: 30px;
}

.last p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 16px;
}

.last p a{
    text-decoration: none;
    color: rgba(220, 242, 237, 1);
}



@media (max-width: 1400px){

    .read-foot1 ul {
        margin-right: 70px;
    }

    

}

@media (max-width: 1200px){

    .col-foot{
        width: 40%;
    }

    .feet{
        width: 60% !important;
    }
    
    .coll{
        width: 100%;
        text-align: center;
    }

    .ui1{
        left: 100px;
    }

    .ui {
        top: -45px;
        right: 125px;
    }

    .box{
        padding: 30px 0;
    }

    .read h3 {
        margin-top: 40px;
    }

    .text{
        margin-top: 30px;
    }

    .butt {
        padding: 18px 0px 12px 18px;
    }

    .cont-cont {
        transform: scale(0.8);
    }

    .box3{
        margin-top: 40px;
        margin-bottom: 50px;
    }
}

@media (max-width: 999px){

    .read-foot1 ul {
        margin-right: 28px;
    }

    .box3{
        margin-top: 0;
        margin-bottom: 40px;
    }

    .coll3{
        width: 50%;
    }

    .ui1 {
        left: -20px;
    }

    .ui {
        top: -45px;
        right: 65px;
    }

    .text{
        padding-bottom: 20px;
    }

    .coll1{
        width: 100%;
    }

    .colll1{
        width: 100%;
    }

    .read1{
        display: flex;
    }

    .butt {
        margin-bottom: 0px;
    }

    .box3 h3 {
        margin-top: 45px;
    }

    .rant{
        margin-bottom: 40px;
    }

    .finalread p {
        margin-bottom: 60px;
    }

    .finalbox {
        background-size: 100%;
    }

    .finalread h2 {
        color: white;
    }

    .finalbox {
        background-size: cover;
    }

}

@media (max-width: 841px){

    nav{
        display: none;
    }

    .bi-list{
        display: block;
        justify-content: center;
        text-align: center;
        width: 25px;
        height: 25px;
        position: absolute;
        z-index: 3;
    }

    
}

@media (max-width: 767px){

    .col-foot{
        width: 100% !important;
    }

    .ui1 {
        left: -70px;
        bottom: -50px;
    }

    .ui {
        top: -45px;
        right: -40px;
    }

    .text {
        display: block;
    }

    .bnm{
        padding: 0 40px 0 0;
    }

    .rand h1 {
        margin-bottom: 0px;
    }

    .read1{
        flex-wrap: wrap;
    }

    .butt{
        width: 48%;
        margin: 5px;
    }

    .cont-cont {
        transform: scale(1);
        margin: 20px 0;
    }

    .oio svg {
        top: 0;
        right: 20%;
    }

    .oii svg {
        right: 30%;
        bottom: -15px;
    }

    .oii p {
        right: 15%;
        bottom: -55px;
    }

    .oi svg {
        left: 70px;
        bottom: -15px;
    }

    .oi p {
        bottom: -60px;
        left: 40px;
        width: 135px;
    }

    .box3 h3 {
        margin-top: 80px;
    }

}

@media (max-width: 700px){

    .col-foot{
        margin-top: 25px;
    }

    .read-foot{
        text-align: center;
    }
}

@media (max-width: 650px){

    .pop svg{
        transform: scale(0.8);
        max-width: 100%;
    }

    .cont-cont {
        max-width: 100%;
    }

    .finalread {
        margin: 20px 0;
    }

    .finalcoll {
        width: 100%;
    }

}

@media (max-width: 525px){

    .finalread p {
        margin-bottom: 20px;
    }

    .butt{
        width: 100%;
        margin: 5px;
    }

}



