@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}

body{
    margin: 0;
    overflow-x: hidden;
    background: #DCF2ED;
    position: relative;
}

header{
    background: #FAFAFA;
}

.bi-list{
    position: absolute;
    scale: 2;
    top: 30px;
    left: 30px;
    display: none;
    border: 0.3px solid black;
    border-radius: 3px;
}

.activee{
    color: rgb(0, 0, 0);
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: rgba(32, 72, 79, 1);
}

nav h4{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    padding: 21px 40px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Plus Jakarta Sans';
}

nav h4 a{
    text-decoration: none;
    color: white;
}
nav h4 a:hover{
    text-decoration: none;
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    padding: 24px 11px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

nav ul li a{
    text-decoration: none;
    color: rgb(226, 225, 225);
    padding: 5px;
}
nav ul li a:hover{
    text-decoration: none;
    padding: 5px;
    color: rgb(204, 202, 202);
}

nav div{
   display: flex; 
   padding: 17px;
}

nav button{
    width: 82px;
    height: 41px;
    background: #B8E4DA;
    border-radius: 8px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: none;
}
nav button:hover{
    width: 82px;
    height: 41px;
    background: #96d1c3;
    border-radius: 8px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: none;
}

.zed{
    background-color: inherit;
    color: white;
    margin-left: 10px;
}
.zed:hover{
    background-color: inherit;
    color: rgb(223, 219, 219);
    margin-left: 10px;
}

.divider{
    background-image: url('https://s3-alpha-sig.figma.com/img/865a/2673/9bca2747544aee1db24a5bbdacee75c8?Expires=1678665600&Signature=lCtXZ8NBoAKp1U8B0bpEEZGJ8La7X4n9bJInHn3sSPmwvE~~5jHaUHjyhI4SDxcaZmA5EcadJp8oLhESzjEswC3~ERTVWj9dmqscvsTZqRsgcs7tUGHsQ-JeI7o92--g5hlOt9xEutED~qu5QQqpPj6otijqpFunCa1-aUNoNdx3W~dI~duhLGjGZzEZH5S2Cu3roiYPtjSW4SorSYAEwyFBspMhWYSexEj4n~SH04SrEObLkpEESDaZ-hP2DBPfK6RsMaumVdCX8oRCPZ~GGmWWrfyfedCoPbIqB7wCbIfAAFCAjajT5~wSxrolG34yvEX8uTAohmgpt1~LgKJcNw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    background-position: bottom;
    background-color: #FAFAFA;;
    width: 100%;
    height: 107px;
    border: none;
}

.collor{
    background: #FAFAFA;
    width: 100%;
    position: relative;
    z-index: 2;
}

.sign{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 130px 0;
}

.sign-up{
    background: #FFFFFF;
    box-shadow: 0px 2px 40px rgba(189, 189, 189, 0.11);
    border-radius: 12px;
    padding: 60px;
    width: 590px;
    position: relative;
    z-index: 99;
}

#name{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(32, 72, 79, 0.1);
    border-radius: 8px;
    padding: 12px 24px 12px 16px;
    margin-top: 84px;
}

#email{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(32, 72, 79, 0.1);
    border-radius: 8px;
    padding: 12px 24px 12px 16px;
    margin-top: 68px;
}

#password{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(32, 72, 79, 0.1);
    border-radius: 8px;
    padding: 12px 24px 12px 16px;
    margin-top: 68px;
}

#checkbox{
    border: 1px solid rgba(32, 72, 79, 0.1);
    border-radius: 4px;
    width: 24px;
    height: 24px;
}

.sign-up div{
    margin: 32px 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.sign-up div span{
    padding-left: 5px;
}

.sign-up button{
    background: #20484F;
    border-radius: 8px;
    width: 100%;
    color: white;
    padding: 16px 36px 15px;
    border: none;
    margin-bottom: 24px;
}

.sign-up button:hover{
    background: #18363b;
}

.sign-up a{
    color: #072125;
}

.adjust1{
    position: absolute;
    right: 60px;
    top: 42%;
}

.adjust2{
    position: absolute;
    left: 60px;
    top: 135px;
}

.adjust3{
    position: absolute;
    left: 60px;
    bottom: 313px;
}

.one{
    position: absolute;
    top: 75px;
    left: 0;
    z-index: -1;
}

.two{
    position: absolute;
    bottom: 385px;
    right: 0;
    z-index: 5;
}


footer{
    position: relative;
    z-index: 98;
    background-color: #072125;
}

.box-foot{
    display: flex;
    flex-wrap: wrap;
}

.col-foot{
    width: 50%;
    margin-top: 69px;
}

.only{
    display: flex;
    gap: 10px;
}

.only p{
    border: 1px solid #B8E4DA;
    border-radius: 48px;
    padding: 10px;
}

.only p a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.read-foot h3{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: white;
    margin-bottom: 39px;
}

.read-foot p{
    margin-bottom: 25px;
}

.read-foot a{
    text-decoration: none;
    color: rgba(220, 242, 237, 1);
}

.read-foot1{
    display: flex;
}

.read-foot1 ul {
    padding-left: 0;
    margin-right: 80px;
}

.read-foot1 ul a{
    text-decoration: none;
}

.read-foot1 ul h5{
    color: white;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 24px;
}

.read-foot1 ul li{
    color: rgba(220, 242, 237, 1) ;
    margin-bottom: 20px;
    list-style: none;
}

.last{
    height: 53px;
    text-align: center;
    border-top: 1px solid #B8E4DA;
    margin-top: 30px;
}

.last p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 16px;
}

.last p a{
    text-decoration: none;
    color: rgba(220, 242, 237, 1);
}



@media (max-width: 1400px){

    .read-foot1 ul {
        margin-right: 70px;
    }

}

@media (max-width: 1200px){

    .col-foot{
        width: 40%;
    }

    .feet{
        width: 60% !important;
    }
    
}

@media (max-width: 999px){

    .read-foot1 ul {
        margin-right: 28px;
    }

}

@media (max-width: 841px){

    nav{
        display: none;
    }

    .bi-list{
        display: block;
        justify-content: center;
        text-align: center;
        width: 25px;
        height: 25px;
        position: absolute;
        z-index: 3;
    }

    .one{
        top: 0;
    }

}

@media (max-width: 767px){

    .col-foot{
        width: 100% !important;
    }

    .read-foot1 ul {
        margin-right: 50px;
    }

    .two{
        bottom: 600px;
    }
}

@media (max-width: 700px){

    .col-foot{
        margin-top: 25px;
    }

    .read-foot{
        text-align: center;
    }

    .only{
        justify-content: center;
    }

    .two{
        bottom: 515px;
    }
}

@media (max-width: 430px){
    .sign-up{
        padding: 30px;
    }

    .adjust1 {
        right: 35px;
        top: 41%;
    }

    .adjust2 {
        left: 35px;
        top: 100px;
    }

    .adjust3 {
        left: 35px;
        bottom: 280px;
    }
}
